<article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
  <div class="timeline-entry-inner">
    <div class="timeline-icon color-1">
      💼
    </div>
    <div class="timeline-label">
      <h2>{{ item.role }} : {{ item.company }} <span>{{ item.period }}</span></h2>
      <p>{{ item.description }}</p>
    </div>
  </div>
</article>