<article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
  <div class="timeline-entry-inner">
    <div class="timeline-icon color-2">
      <i>📖</i>
    </div>
    <div class="timeline-label">
      <h2>{{ item.title }} : {{ item.organizer }} <span>{{ item.period }}</span></h2>
      <p><strong>{{ item.type }}</strong></p>
      <p>{{ item.description }}</p>
    </div>
  </div>
</article>
